.grid-container {
  display: grid;
  grid-template-columns: 200px 50px;
  grid-auto-rows: minmax(0px, auto);
  grid-gap: 0px;
  justify-items: stretch;
  align-items: stretch;
}

.CzasIWynik {
  background-color: white;
  display: inline-flex;
  align-items: center;
  font-size: 50px;
  height: 70px;
  width:100%;
  text-align: center;
}

.Czas {
  margin: auto;
  margin-left:45%;
}
.Wynik {
margin: auto;
text-align: left;
}

* {
    font-family: Raleway;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  background-color: #333;
  height: 100vh;
  margin: 0;
}

.grid-container {
  border: #000000;
  position: relative;
  padding: 4px;
  width: 100%;
}

.grid-item {
  position: relative;
  font-size: 25px;
  padding: 10px;
  background-color: #5bbdfa;
  color: #222;
  border: 1px solid white;
  justify-content: center;
  display: flex;
}


.grid-item::before {
  /* position: absolute; */
  font-size: 25px;
  font-weight: bold;
  /* top: 10px;
  left: 15px; */
}

.grid-item::after {
  /* position: absolute; */       
  font-size: 25px;
  /* top: 10px;
  right: 15px; */
  font-weight: bold;
}

  .Button {
  background-color: #0004ff;
  color: white;
  border: none;
  padding: 40px; 
  margin: auto auto;
  border-radius:100%;    
}
.Button:hover{
  background-color: #f44336;
}
.light {
  background-color: rgb(255, 255, 255);
  color: white;
  border: none;
  padding: 20px; 
  margin: auto auto;
  border-radius:100%;    
}
.light-on {
  background-color: #f44336;
}
.light-off {
  background-color: white;
}
