.grid-container {
  display: grid;
  grid-auto-rows: minmax(0px, auto);
  grid-gap: 0px;
  justify-items: stretch;
  align-items: stretch;
}

.CzasIWynik {
  background-color: white;
  display: inline-flex;
  align-items: center;
  font-size: 5vh;
  height: 5vh;
  width:100vw;
  text-align: center;
}

.Czas {
  margin: auto;
  margin-left:45%;
}
.Wynik {
margin: auto;
text-align: left;
}

* {
    font-family: Raleway;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  background-color: #333;
  height: 100vh;
  margin: 0;
}

.grid-container {
  border: #000000;
  position: relative;
  padding: 0px;
  width: 100vw;
}

.grid-item {
  position: relative;
  padding: 1vh;
  background-color: #5bbdfa;
  color: #222;
  border: 1px solid white;
  justify-content: center;
  display: flex;
}

  .Button {
  background-color: #0004ff;
  color: white;
  border: none;
  padding: 5vh; 
  margin: auto auto;
  border-radius:100%;    
}
.Button:hover{
  background-color: #f44336;
}
.light {
  background-color: rgb(255, 255, 255);
  color: white;
  border: none;
  padding: 3vh; 
  margin: auto auto;
  border-radius:100vw;    
}
.light-on {
  background-color: #f44336;
}
.light-off {
  background-color: white;
}
